@use 'partial';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feedback:not(:first-of-type) {
    display: none;
}

.feedback {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

body{
    background-image: url(../img/baggrund.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: partial.$heading-font;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 8px;
    color: partial.$text-color;
}


h1 {
 font-size: 40px;
}

h2 {
    font-size: 25px ;
}



h4 {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(255, 236, 210);
}


img{
    align-items: center;
    width: 35vw;
    height: auto;
}

p{
    background-color: black;
    font-family: partial.$paragraph-font;
    color: partial.$text-color;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 0.8px;
}

.undgå {
    margin-top: 30px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}

#start {
    display: flex;
    flex-direction: row;
}

button {
    font-family: partial.$paragraph-font;
    background-color: partial.$btn-color;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

button:hover{
    color: white;
}

.svar {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    
}
.svar-k {
    font-size: 40px;
    margin-bottom: 50px;
    color: green;
    font-family: partial.$heading-font;
}

.svar-f {
    font-size: 40px;
    margin-bottom: 50px;
    color: red;
    font-family: partial.$heading-font;
}


a {
    font-family: partial.$paragraph-font;
    background-color: partial.$btn-color;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: solid 2px;
}

a:hover {
    color: white;
}


//Responsivitet

@media (max-width: 450px) { // Forsiden
    #start {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-larger;
    }
}


@media (max-width: 1000px) {
    img {
        display: none;
    }
}

@media (max-width: 374px) {
    p {
        font-size: 12px;
    }
    
    button {
        font-size: 12px;
    }
}
