@use 'partial';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feedback:not(:first-of-type) {
    display: none;
}

.feedback {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

body{
    background-image: url(../img/baggrund.jpg);
    background-size: 100vw;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: partial.$heading-font;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 8px;
    color: partial.$text-color;
}

h1 {
 font-size: 40px;
}

h2 {
    font-size: 25px ;
}



h4 {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(255, 236, 210);
}



img{
    align-items: center;
    width: 35vw;   
}

p{
    background-color: black;
    font-family: partial.$paragraph-font;
    color: partial.$text-color;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0.8px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}

#start {
    display: flex;
    flex-direction: row;
}

button {
    font-family: partial.$paragraph-font;
    background-color: partial.$btn-color;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}